.hero {
  height: 100vh;

  background-image: url("../assets/hero-construction.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;            /* vertical alignment */
  justify-content: flex-start;    /* left aligned */

  padding-left: 20%;
  padding-right: 8%;

  position: relative;
}

/* Overlay container */
.hero-overlay {
  
  max-width: 900px;
}

/* SINCE 2005 */
.since {
  display: inline-block;
  color: #f08a24;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.25em;
  /* margin-bottom: 1rem; */
}

/* MAIN HEADING */
.hero-title {
  margin-top: 3%;
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.hero-title .white {
  color: #ffffff;
}

.hero-title .orange {
  color: #f59e0b;
}

/* SUBTITLE */
.hero-subtitle {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #e5e7eb;
  max-width: 720px;
  margin-bottom: 2.5rem;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;

}

.btn {
  padding: 0.9rem 2.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Primary button */
.btn.primary {
  background-color: #f59e0b;
  color: #000;
  border: none;
}

.btn.primary:hover {
  background-color: #d97706;
}

/* Outline button */
.btn.outline {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.outline:hover {
  background-color: #ffffff;
  color: #000;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .hero-title {
    font-size: 2.2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero {
    padding-left: 6%;
  }
}

@media (max-width: 768px) {
    .hero-title {
    font-size: 2.2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
    .hero-title {
    font-size: 2.2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* ==============================
   SERVICES SECTION
================================ */
.services-section {
  padding: 7vh 10%;
  background-color: #faf9f7;
  text-align: center;
}

.services-header span {
  color: #f08a24;
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  font-weight: 500;
}

.services-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-top: 1.5vh;
  color: #1a1a1a;
}

.services-header p {
  max-width: 50%;
  margin: 2vh auto 6vh;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.7;
}

/* ==============================
   GRID
================================ */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

/* ==============================
   CARD
================================ */
.service-card {
  background: #fff;
  padding: 2vh 2vw;
  border-radius: 1rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.1vh solid #eaeaea;
}

.service-card:hover {
  border-top: 0.4vh solid #f08a24;
}

/* ==============================
   ICON
================================ */
.service-card .icon-box {
  width: 4vh;
  height: 4vh;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 0.8rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.service-card:hover .icon-box {
  background: #fff1e3;
  color: #f08a24;
}

.service-card svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* ==============================
   TEXT
================================ */
.service-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  margin-bottom: 1vh;
  color: #1a1a1a;
}

.service-card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.7;
}

/* ==============================
   RESPONSIVE
================================ */
@media (max-width: 64em) {
  .services-header span {
  color: #f08a24;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.25em;
}
  .service-card {
    padding: 2vh 4vw;
  }
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-header p {
    max-width: 70%;
  }
}

@media (max-width: 40em) {
  .services-header span {
  color: #f08a24;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.25em;
}
    .service-card {
      padding: 2vh 6vw;
    }
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-header h2 {
    font-size: 2.2rem;
  }

  .services-header p {
    max-width: 100%;
  }
}

/* ==============================
   PROJECTS SECTION
================================ */
.project-section {
  padding: 1vh;
  background: #ffffff;
  text-align: center;
}

.project-header span {
  color: #f08a24;
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  font-weight: 500;
}

.project-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-top: 1.5vh;
  color: #1a1a1a;
}

.project-header p {
  max-width: 50%;
  margin: 2vh auto 1vh;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

.project-card {
  background: #faf9f7;
  /* padding: 2vh 1vw; */
  border-radius: 1rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.1vh solid #eaeaea;
  overflow: hidden;
}

/* .project-card:hover {
  border-top: 0.4vh solid #f08a24;
  transform: translateY(-5px);
} */

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.project-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  margin-bottom: 0.8vh;
  color: #1a1a1a;
  padding: 1.5vh 1vw 0;
}

.project-card p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  padding: 0 1vw 1.5vh;
}

@media (max-width: 64em) {
  .project-header span {
  color: #f08a24;
  font-size: 0.8rem;
  letter-spacing: 0.25em;
}
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-header p {
    max-width: 70%;
  }
}

@media (max-width: 40em) {
  .project-header span {
  color: #f08a24;
  font-size: 0.8rem;
  letter-spacing: 0.25em;
}
  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-header h2 {
    font-size: 2.2rem;
  }

  .project-header p {
    max-width: 100%;
  }
}

.process-section {
  padding: 8vh 6%;
  background: #faf9f7;
  text-align: center;
}
.process-header span {
  color: #f08a24;
  font-size: 0.9rem;
  letter-spacing: 0.25em;
  font-weight: 500;
}

.process-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-top: 1.5vh;
  color: #1a1a1a;
}

.process-header p {
  max-width: 45%;
  margin: 2vh auto 5vh;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.7;
}
.process-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.8vw;
}

.process-card {
  background: #faf9f7;
  padding: 2.5vh 2vw;
  border-radius: 0.9rem;
  text-align: left;
  border: 0.1vh solid #eaeaea;
  transition: all 0.25s ease;
}

.process-card:hover {
  /* border-color: #f08a24; */
  background: #fff;
}
.process-card h4 {
  margin-top: 0%;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8vh;
  color: #1a1a1a;
}

.process-card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 0%;
}
@media (max-width: 64em) {
  .process-header span {
  color: #f08a24;
  font-size: 0.8rem;
  letter-spacing: 0.25em;
}
  .process-header p {
    max-width: 65%;
  }
}

@media (max-width: 40em) {
  .process-header span {
  color: #f08a24;
  font-size: 0.8rem;
}
  .process-header h2 {
    font-size: 2rem;
  }

  .process-header p {
    max-width: 100%;
  }
}


/* ==============================
   CENTER SCALE MANUAL CAROUSEL
================================ */
/* ===== Luxury Centered Carousel ===== */

.project-section{
  padding-top: 7vh;
  padding-left: 10%;
  padding-right: 10%;
}

.project-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 10vh 0;
  padding-top: 0vh;
  background: #ffffff;
}

.carousel-stage {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card {
  position: absolute;
  width: 28vw;
  border-radius: 1.2rem;
  overflow: hidden;
  background: #faf9f7;
  box-shadow: 0 1rem 2.5rem rgba(0,0,0,0.12);
  transition: all 0.6s ease;
}

.carousel-card img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.carousel-info {
  padding: 1.5vh 1vw;
  text-align: center;
}

.carousel-info h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}

.carousel-info span {
  font-size: 0.9rem;
  color: #777;
}

.carousel-info h3 {
  color: #000;
  margin: 0%;
}

/* Positioning like your reference image */

.pos-0 { transform: translateX(0) scale(1); z-index: 5; }
.pos-1 { transform: translateX(30vw) scale(0.8); opacity: 0.85; }
.pos-2 { transform: translateX(60vw) scale(0.6); opacity: 0.6; }
.pos-7 { transform: translateX(-30vw) scale(0.8); opacity: 0.85; }
.pos-6 { transform: translateX(-60vw) scale(0.6); opacity: 0.6; }

.pos-3, .pos-4, .pos-5 {
  opacity: 0;
  transform: scale(0);
}

/* Arrows */

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  border: 0.1rem solid #000;
  color: #000;
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  padding: 0;

  /* vertical optical centering */
  padding-bottom: 0.5rem;

  z-index: 10;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn:active {
  outline: none;
}

.nav-btn::-moz-focus-inner {
  border: 0;
}

.nav-btn {
  -webkit-tap-highlight-color: transparent;
}



.nav-btn:hover {
  background: #fff1e3;
  color: #f08a24;
}

.nav-btn.left { left: 3vw; }
.nav-btn.right { right: 3vw; }

/* Responsive */

@media (max-width: 64em) {
  .carousel-card { width: 40vw; }
  .carousel-card img { height: 45vh; }
  .project-carousel { padding-top: 2vh; }
  .pos-1 { transform: translateX(60vw) scale(0.9); }
  /* .pos-2 { transform: translateX(42vw) scale(0.75); } */
  .pos-7 { transform: translateX(-60vw) scale(0.9); }
  /* .pos-8 { transform: translateX(-42vw) scale(0.75); } */
}

@media (max-width: 40em) {
  .carousel-card { width: 60vw; }
  .carousel-card img { height: 40vh; }
  .project-carousel { padding-top: 2vh; }
  .pos-1, .pos-7 { opacity: 0; }
  .pos-2, .pos-6 { opacity: 0; }
}
